
@media only screen and (max-width: 768px) {
    .topNav .col-md-4{text-align: center !important;}
    .topNav .ps-4{padding-left:unset !important;}
    .topNav .float-end{float: unset !important;}
    .topNav .me-4{margin-right: unset !important;}
    .topNav .second{margin: 2px 0 8px !important;}
    
    .navbar-toggler{ padding: 1px 2px !important; border: 1px solid green;}
    .navbar-collapse a{ display: block !important;}
    .navbar-collapse .nav-item{ margin: 5px 0 !important;}
    .shopping img{ margin: 5px 20px !important; width: 90% !important; height: 3.5rem;}
    .form-check.form-check-inline{font-size: 1rem !important;}

    .box .text{
        position: absolute;
        z-index: 999;
        margin: 0 auto;
        left: 5%;
        right: 0;        
        top: 15%; 
        font-family: Arial,sans-serif;
        color: #000;
        width: auto; 
    }
    .box img{opacity: -1; height: 250px;}
    .box tbody{display: grid;}

    .hr-lines:before { width: calc(11vw + 10vw); }
    .hr-lines:after { width: calc(13vw + 15vw); }


    .autoplay img, .portfolio2 img { width: 100% !important; }
    .professional ul { margin: 0em !important;  font-size: 18px !important; }
    .package{ margin-top: 10px !important; }

    .satisfaction .row div img{ 
        width:80% !important;
    }
    .requestDesign form.mx-4{margin: unset !important;}
    
    /* logo-design page */
    .develop-logo div{ margin: 2rem 1rem !important; }
    .service {margin: 0.5rem !important;}

   

}
