
.topNav { background-color: #d1d1d1; margin: unset !important;}
.topNav .rounded-circle, .topNav .rounded-5{ background-color: orange; }

.navbar{ background-color: lavender;}
.navbar-collapse .nav-item, .navbar-collapse .shopping{ margin: 5px !important;}
