.top2{ background-color: #F6F6F6; height: 20px;}

.topNav { background-color: #E4E4E4; margin: unset !important;}
.topNav .rounded-circle, .topNav .rounded-5{ background-color: orange; }

.navbar{ background-color: #F6F6F6;}
.navbar-collapse .nav-item a{margin: 0 20px; padding: 0.2rem 0.5rem; font-size: 20px; text-transform: uppercase; font-weight: bold; border: 2px solid darkgray; box-shadow: 7px 7px 5px grey;}
.navbar-collapse .nav-item{ margin: 5px !important;}

.shopping img{ width: 170px;}
.form-check.form-check-inline{font-size: 1.25rem;}

.box{
    position: relative;    
}

.box .text{
    position: absolute;
    z-index: 999;
    margin: 0 auto;
    left: 0;
    right: 0;        
    /* text-align: center; */
    top: 30%; /* Adjust this value to move the positioned div up and down */
    /* background: rgba(0, 0, 0, 0.8); */
    font-family: Arial,sans-serif;
    color: #000;
    width: 60%; /* Set the width of the positioned div */
}

.text .form-check-input:checked {
    background-color: green !important;
    border-color: green !important;
}

.text .z{ background-color: lime; }
.text .orderNow:hover{ background-color: brown; }
.brand.slider { width: 100%; margin: 10px auto; }
.slider { width: 95%; margin: 10px auto; }
.slick-slide { margin: 0px 5px; }
.slick-slide img { width: 100%; }
.slick-prev:before,
.slick-next:before { color: black; }
.brand .slick-arrow{display: none !important;}
.brand img{ height: 100px !important; }

.autoplay img{ width: 220px; height: 220px !important; border-radius: 25px; margin: auto;}
.slick-dots {display: none !important;}

/* WE DEVELOP YOUR PROFESSIONAL LOGO */                
.hr-lines{
    font-size: 1.5em;
    position: relative;
    max-width: 320px;
    margin: 0px auto;
    text-align: center;
    word-spacing: 5px;
}

/* .hr-lines:before{
    content:"";
    height: 1.5px;
    width: 11vw;
    background: red;
    display: block;
    position: absolute;
    top: 150%;
    left: 0;
}

.hr-lines:after{
    content:" ";
    height: 1.5px;
    width: 13vw;
    background: red;
    display: block;
    position: absolute;
    top: 50%;
    right: 0;
} */

/* professional */
.professional ul li{ list-style: none; }
.professional ul{ margin: 2em; font-size: 20px; font-weight: 400;}

.package h1 b{ border-bottom: 2px solid #000; width:50px; }
.package ul li{ list-style: none; }    
.package .thumbnail {
    padding: 10px;
    -webkit-box-shadow: 0 0 5px 2px rgb(0 0 0 / 50%);
    box-shadow: 0 0 5px 2px rgb(0 0 0 / 50%);
    border-radius: 5px;
}       

.process h4 span{ border-bottom: 2px solid #000; width:100px; }
.process .title{ margin-bottom: 50px; }

.portfolio h4 span{ border-bottom: 2px solid #000; width:100px; }
.portfolio .title{ margin-bottom: 50px; }

.portfolio2 img{ width: 300px; height: 180px !important; margin: auto;}    

.satisfaction{padding: 20px 0;}

.startToday .row{background-color: mediumseagreen;}

.satisfaction .row div img{ 
    width:70% !important;
}

.startToday .row div img,
.business .row div img{ 
    width:100% !important;
}

.satisfaction .row div,
.startToday .row div,
.business .row div
{ text-align: center;}

.requestDesign{padding: 20px 0;}
.requestDesign .orderNow{width: 100%;}

.business{padding: 20px 0;}

.faq h1 span{ border-bottom: 2px solid #000; }

.contactUs .row{background-color: limegreen;}
